html, body {
  width: 99%;
  height: 99%;
  padding: 0px;
  margin: 0px auto;
  background-color: white;
}

input, select {
  padding: 8px 8px;
  border: solid 1px #c8c8c8;
  border-radius: 2px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 32px);
  width: calc(100% - 16px);
  padding: 8px;
}

.container h1 {
  width: 100%;
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 28px);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.container .content .sticky-panel {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.98);
}

.container .content .sticky-panel .sort-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px 8px 8px auto;
}

.container .content .sticky-panel .sort-container label {
  font-size: 14px;
  font-weight: bold;
}

.container .content .building-card {
  border: solid 1px #f0f0f0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 2px 0px #f0f0f0;
          box-shadow: 0px 0px 2px 0px #f0f0f0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: calc(25% - 34px);
  padding: 8px;
  margin: 16px 8px;
}

.container .content .building-card:hover {
  -webkit-box-shadow: 0px 0px 4px 1px #c8c8c8;
          box-shadow: 0px 0px 4px 1px #c8c8c8;
}

.container .content .building-card h4 {
  margin: 8px 0px;
}

.container .content .building-card p {
  margin: 0px;
}

.container .content .building-card img, .container .content .building-card object {
  height: 192px;
}

.container .content .building-card .tags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.container .content .building-card .tags-container .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  padding: 4px;
  margin: 4px;
  background-color: #f9e6e6;
  border-radius: 2px;
}

/* wide screen (portrait and landscape) ----------- */
@media only screen and (min-width: 1300px) and (max-width: 2000px) {
  .building-card {
    -ms-flex-preferred-size: 20% !important;
        flex-basis: 20% !important;
    max-width: calc(20% - 34px) !important;
  }
}

/* tablet size (portrait and landscape) ----------- */
@media only screen and (min-width: 667px) and (max-width: 1024px) {
  .building-card {
    -ms-flex-preferred-size: 33.3% !important;
        flex-basis: 33.3% !important;
    max-width: calc(33.3% - 34px) !important;
  }
}

/* Smartphone size (portrait and landscape) ----------- */
@media only screen and (min-width: 500px) and (max-width: 667px) {
  .building-card {
    -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
    max-width: calc(50% - 34px) !important;
  }
  .building-card img {
    height: 140px !important;
  }
}

/* Smartphone size (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .building-card {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    max-width: calc(100% - 34px) !important;
  }
  .building-card img {
    height: 240px !important;
  }
}
/*# sourceMappingURL=index.css.map */